---
import '../styles/global.css';
const { title = "SYSTEM" } = Astro.props;
---

<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} | DOS_SHELL</title>
    <!-- ðŸ‘‡ æ–°å¢žï¼šå¼•å…¥ä¸è’œå­è®¡æ•°æœåŠ¡è„šæœ¬ (å¼‚æ­¥åŠ è½½ï¼Œä¸å½±å“é€Ÿåº¦) -->
    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
  </head>
  <body class="crt min-h-screen flex flex-col p-4 md:p-8 max-w-5xl mx-auto selection:bg-dos-primary selection:text-black">
    <slot />
  </body>
</html>